.bin-pulldown {
    overflow: hidden;
}

.bin-pulldown-refreshing .bin-pulldown-content{
    -webkit-transition: .2s;
    transition: .2s;
}

.bin-pulldown-reset .bin-pulldown-content{
    -webkit-transition: .2s;
    transition: .2s;
}

.bin-pulldown-reset-afterR .bin-pulldown-content{
    -webkit-transition: .6s;
    transition: .6s;
}

.bin-pulldown-top{
    margin-top: -50px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 1.3rem;
    color: #333;
}

.bin-pulldown-top span {
    display: inline-block;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    vertical-align: middle;
}

.bin-pulldown-top span.bin-pulldown-arrow{
    display: none;
}

.bin-pulldown-pulling .bin-pulldown-top span.bin-pulldown-arrow{
    display: inline-block;
}

.bin-pulldown-ready-refresh .bin-pulldown-top span.bin-pulldown-arrow{
    display: inline-block;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.bin-pulldown-top span>.bin-pulldown-snake{
    display: none;
}

.bin-pulldown-refreshing .bin-pulldown-top span>.bin-pulldown-snake{
    display: inline-block;
}

.bin-pulldown-tips {
    font-size: 1.1rem;
    color: #999;
}

.bin-pulldown-top span.bin-pulldown-tips{
    display: none;
}

.bin-pulldown-refreshed .bin-pulldown-top span.bin-pulldown-tips{
    display: inline-block;
}

.bin-pulldown-snake{
    -webkit-animation: bin-spinner-rotate .8s infinite linear;
    animation: bin-spinner-rotate .8s infinite linear;
    border: 4px solid transparent;
    border-radius: 50%;
    border-top-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    height: 26px;
    width: 26px;
}

@keyframes bin-spinner-rotate
{
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

@-webkit-keyframes bin-spinner-rotate /*Safari and Chrome*/
{
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}